@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.Summit{
    padding: 20px;
    background-image: url('../img/bg.jpg');
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    border-radius: 5px;
    padding-left: 60px;
    padding-right: 60px;

}

/* Styles for smaller devices (e.g., max-width: 768px) */
@media only screen and (max-width: 768px) {
    .Summit {
        /* Adjust font size for smaller devices */
        font-size: 2px; /* You can change the value as needed */
        color: black;
        padding: 15px;
    }
}
/* Additional styles for even smaller devices (e.g., max-width: 480px) */
@media only screen and (max-width: 480px) {
    .Summit h4 {
        /* Further adjust font size for smaller devices */
        font-size: 12px; /* You can change the value as needed */
        color: black;
    }
}
.mines{
    padding: 20px;
}
.text-large{
    font-size: x-large;
}

.Top-banner {
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
}
.text-white{
    color: white;
}
.Regiter{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(172, 255, 47, 0.568);
    display: flex;
    justify-content: center;
    min-width: 80vw;
    border-radius: 5px;
}
.button{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.142);
    border-radius: 5px;
}
.Btn-Register {
    display: flex;
    justify-content: center;
}
.horizontal-line{
    min-height: 0.1vh;
    min-width: 0.2vw;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.676);
}
.Main-text{
    border-width: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 80vw; */
    padding: 20px;
}